.version.term_developer /* version checker */
{
	color: #000015;
	background-color: #5A8ED4;
}

#page
{
	z-index: 1;
	min-height: 0px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 62px;
	padding-bottom: 438px;
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

